<%= form_for(usuario_juntum) do |f| %>
  <% if usuario_juntum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(usuario_juntum.errors.count, "error") %> prohibited this usuario_juntum from being saved:</h2>

      <ul>
      <% usuario_juntum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :usuario_id %>
    <%= f.text_field :usuario_id %>
  </div>

  <div class="field">
    <%= f.label :int %>
    <%= f.text_field :int %>
  </div>

  <div class="field">
    <%= f.label :juntum_id %>
    <%= f.text_field :juntum_id %>
  </div>

  <div class="field">
    <%= f.label :int %>
    <%= f.text_field :int %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
