<p id="notice"><%= notice %></p>

<h1>Usuario Junta</h1>

<table>
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Int</th>
      <th>Juntum</th>
      <th>Int</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usuario_junta.each do |usuario_juntum| %>
      <tr>
        <td><%= usuario_juntum.usuario_id %></td>
        <td><%= usuario_juntum.int %></td>
        <td><%= usuario_juntum.juntum_id %></td>
        <td><%= usuario_juntum.int %></td>
        <td><%= link_to 'Show', usuario_juntum %></td>
        <td><%= link_to 'Edit', edit_usuario_juntum_path(usuario_juntum) %></td>
        <td><%= link_to 'Destroy', usuario_juntum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Usuario Juntum', new_usuario_juntum_path %>
