<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @usuario_juntum.usuario_id %>
</p>

<p>
  <strong>Int:</strong>
  <%= @usuario_juntum.int %>
</p>

<p>
  <strong>Juntum:</strong>
  <%= @usuario_juntum.juntum_id %>
</p>

<p>
  <strong>Int:</strong>
  <%= @usuario_juntum.int %>
</p>

<%= link_to 'Edit', edit_usuario_juntum_path(@usuario_juntum) %> |
<%= link_to 'Back', usuario_junta_path %>
