<div class="container">
  <div class="page-header">
    <h1>Actividades</h1>
  </div>
  <div class="jumbotron">

    <% @actividads.each do |actividad| %>
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <div class="well well-lg">
              <div class="usuarioName">
                <%= actividad.nombre %>
              </div>
              <div class="userInfo">
                <p><strong>Descripcion:</strong> <%= actividad.descripcion %></p>
                <p><strong>Estatus:</strong> <%= actividad.estatus %></p>
                <p><strong>Fecha Inicio:</strong> <%= actividad.fecha_inicio %></p>
                <p><strong>Fecha Final:</strong> <%= actividad.fecha_final %></p>
              </div>
              <div class="btn-group acciones" role="group" aria-label="...">
                <%= link_to 'Show', actividad, class:"btn btn-sm btn-warning" %>
                <%= link_to 'Edit', edit_actividad_path(actividad), class:"btn btn-sm btn-primary" %>
                <%= link_to 'Destroy', actividad, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-sm btn-danger" %>
              </div>
            </div>
          </div>
        </div>
    <% end %>

    <br>
    <div class="col-xs-6 col-xs-offset-3">
      <%= link_to 'New Actividad', new_actividad_path, class:"btn btn-sm btn-success center-block" %>
    </div>


  </div>
</div>