<p id="notice"><%= notice %></p>

<h1>Junta</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Fecha</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @junta.each do |juntum| %>
      <tr>
        <td><%= juntum.nombre %></td>
        <td><%= juntum.fecha %></td>
        <td><%= juntum.descripcion %></td>
        <td><%= link_to 'Show', juntum %></td>
        <td><%= link_to 'Edit', edit_juntum_path(juntum) %></td>
        <td><%= link_to 'Destroy', juntum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Juntum', new_juntum_path %>
