<%= form_for(usuario) do |f| %>
    <% if usuario.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

          <ul>
            <% usuario.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="container">
      <div class="jumbotron">
        <div class="row">
          <div class="col-xs-6 col-xs-offset-3">
            <form class="form-horizontal" role="form">
              <div style="margin-bottom: 20px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <%= f.text_field :nombre, placeholder: 'Nombre', autofocus: true, class:"form-control" %>
              </div>

              <div style="margin-bottom: 20px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <%= f.text_field :contraseña, placeholder: 'Contraseña', autocomplete: "off", class:"form-control" %>
              </div>

              <div style="margin-bottom: 20px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
                <%= f.label("Administrador") %>
                <%= f.check_box(:permiso) %>
              </div>

              <div style="margin-bottom: 20px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-ok-sign"></i></span>
                <%= f.label("Estado") %>
                <%= f.check_box(:estado) %>
              </div>

              <div class="actions">
                <%= f.submit("Crear usuario",class:'btn btn-sm btn-success ') %>
                <%= link_to 'Regresar', usuarios_path,class:'btn btn-sm btn-danger ' %>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

<% end %>

