<div class="container">
  <div class="page-header">
    <h1>Usuarios</h1>
  </div>
  <div class="jumbotron">

      <% @usuarios.each do |usuario| %>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <div class="well well-lg">
            <div class="usuarioName">
              <%= usuario.nombre %>
            </div>
            <div class="userInfo">
              <% if usuario.permiso == 1 %>
                  <p><strong>Privilegios:</strong> Administrador</p>
              <%end%>
              <% if usuario.permiso != 1 %>
                  <p><strong>Privilegios:</strong> Usuario</p>
              <%end%>
              <% if usuario.estado == 1 %>
                  <p><strong>Estado:</strong> Activo</p>
              <%end%>
              <% if usuario.estado != 1 %>
                  <p><strong>Estado:</strong> Inactivo</p>
              <%end%>
              <p><strong>Contraseña:</strong> <%= usuario.contraseña %></p>
            </div>
            <div class="btn-group acciones" role="group" aria-label="...">
              <%= link_to 'Edit', edit_usuario_path(usuario), class:"btn btn-sm btn-primary" %>
              <%= link_to 'Destroy', usuario, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-sm btn-danger" %>
            </div>
          </div>
        </div>
      </div>
      <% end %>

    <br>
    <div class="col-xs-6 col-xs-offset-3">
      <%= link_to 'New Usuario', new_usuario_path, class:"btn btn-sm btn-success center-block" %>
    </div>


  </div>
</div>
